{% extends "shop/base.html" %}

{% load static %}

{% block title %}
    Главная
{% endblock title %}

{% block header %}
    <h1>Главная</h1>
{% endblock header %}

{% block content %}
    <!-- Person: {{ person.name }}

    {% autoescape off %}
        Person: {{ person.name }}
    {% endautoescape %}

    {% comment %}
        erso
    {% endcomment %}

    {% if number > 0 %}
        <p>Число {{ number }} положительное</p>
    {% else %}
        <p>Число {{ number }} отрицательное</p>
    {% endif %}

    <ul>
        {% for num in array %}
            <li>{{ num }}</li>
        {% empty %}
            Коллекция пустая
        {% endfor %}
    </ul> -->

    <!-- {% with name="Bob" age="23" %}
    <div>
        <p>Name: {{ name }}</p>
        <p>Age: {{ age }}</p>
    </div>
    {% endwith %}

    <p>{% now "Y" %}</p>
    <p>{% now "F j Y" %}</p>
    <p>{% now "N, j, Y" %}</p>
    <p>{% now "N j, Y, P" %}</p>

    <h2>{{ message|capfirst|add:" World!" }}</h2>

    <h2>{{ message|capfirst|cut:"le"|add:"lication" }}</h2>

    {% with isEnabled=True %}
        <h2>{{ isEnabled|default:"test" }}</h2>
    {% endwith %}

    <h2>{{ value|floatformat:"2g" }}</h2> -->

    {% for _, value in clients.items %}
        <h1>{{ value|add:" - клиент"|title }}</h1>
    {% endfor %}

    {% comment %}
        <h1>{{ name|add:" "|add:surname|add:" - Клиент"|title }}</h1>
    {% endcomment %}

    <!-- <h2>{{ users|join:", "|title }}</h2>

    <h2>{{ users|slice:":2" }}</h2> -->

    <img src="{% static 'img/wordart.jpg' %}" alt="">

    {% include "shop/banner.html" %}
{% endblock content %}