<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Person: {{ person.name }}

    {% autoescape off %}
        Person: {{ person.name }}
    {% endautoescape %}

    {% comment %}
        erso
    {% endcomment %} -->

    <!-- {% if number > 0 %}
        <p>Число {{ number }} положительное</p>
    {% else %}
        <p>Число {{ number }} отрицательное</p>
    {% endif %} -->

    <!-- <ul>
        {% for num in array %}
            <li>{{ num }}</li>
        {% empty %}
            Коллекция пустая
        {% endfor %}
    </ul> -->

    <!-- {% with name="Bob" age="23" %}
    <div>
        <p>Name: {{ name }}</p>
        <p>Age: {{ age }}</p>
    </div>
    {% endwith %} -->

    <!-- <p>{% now "Y" %}</p>
    <p>{% now "F j Y" %}</p>
    <p>{% now "N, j, Y" %}</p>
    <p>{% now "N j, Y, P" %}</p> -->
</body>
</html>