{% extends "blog/base.html" %}

{% block title %}
    Блог - Комментарии поста {{ id }}
{% endblock title %}

{% block header %}
    Комментарии поста {{ id }}
{% endblock header %}

{% block content %}
    <ul>
        {% autoescape off %}
        {% for comment in comments %}
            <li>{{ comment|capfirst|add:" - <a href='#'>Репорт</a> | <a href='#'>Ответ</a>"}}</li>
        {% empty %}
            Комментариев нет
        {% endfor %}
        {% endautoescape %}
    </ul>
{% endblock content %}