<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог - Комментарии поста {{ id }}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h2>Комментарии поста {{ id }}:</h2>
    <ul>
    {% autoescape off %}
    {% for comment in comments %}
        <li>{{ comment|capfirst|add:" - <a href='#'>Репорт</a> | <a href='#'>Ответ</a>"}}</li>
    {% empty %}
        Комментариев нет
    {% endfor %}
    {% endautoescape %}
    </ul>
</body>
</html>